/* Theme */
#theme {
  display: none;
}
#main {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#moon {
  width: 50px;
  height: 50px;
  background: #eef;
  border-radius: 50%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#bdy:target #main #moon {
  background: #f6d602;
  border: 5px solid #f5eb71;
}
#bdy:target #main #moon .spots {
  width: 0px;
  height: 0px;
  background: #f6d602;
}
#bdy:target #main #cover {
  background: #f7f7f7;
  transform: translate(85px, -185px);
  -webkit-transform: translate(85px, -185px);
  -moz-transform: translate(85px, -185px);
  -ms-transform: translate(85px, -185px);
  -o-transform: translate(85px, -185px);
}
#moonspot1 {
  width: 14px;
  height: 14px;
  background: #ccd;
  border-radius: 50%;
  transform: translate(5px, 18px);
  transition: all 1s;
  -webkit-transform: translate(5px, 18px);
  -moz-transform: translate(5px, 18px);
  -ms-transform: translate(5px, 18px);
  -o-transform: translate(5px, 18px);
}
#moonspot2 {
  width: 6px;
  height: 6px;
  background: #ccd;
  border-radius: 50%;
  transform: translate(18px, 22px);
  transition: all 1s;
  -webkit-transform: translate(18px, 22px);
  -moz-transform: translate(18px, 22px);
  -ms-transform: translate(18px, 22px);
  -o-transform: translate(18px, 22px);
}

#cover {
  width: 50px;
  height: 50px;
  background: var(--background);
  border-radius: 50%;
  transform: translate(15px, -65px);
  transition: all 1s;
  -webkit-transform: translate(15px, -65px);
  -moz-transform: translate(15px, -65px);
  -ms-transform: translate(15px, -65px);
  -o-transform: translate(15px, -65px);
}
/* END Theme */
